mixin menu(position)
  nav(class=`${position}__container`).header__nav
    ul(class=`${position}__wrap`).menu
      li.menu__item
        a(href="/#about_me" class=`${position}`).menu__link Обо&nbsp;мне

      li.menu__item
        a(href="/#skills" class=`${position}`).menu__link Навыки

      li.menu__item 
        a(href="/#my-works" class=`${position}`).menu__link Работы

      li.menu__item 
        a(href="/#reviews" class=`${position}`).menu__link Отзывы