mixin social(social_posit)
  ul(class=social_posit)
    li(class=`${social_posit}__item`)
      a(href="https://www.instagram.com/html_css_js_php_developer/" target="_blank" class=`${social_posit}__link`).insta
    li(class=`${social_posit}__item`)
      a(href="https://github.com/belocer" target="_blank" class=`${social_posit}__link`).github
    li(class=`${social_posit}__item`)
      a(href="https://vk.com/html_css_js_php_postgresql" target="_blank" class=`${social_posit}__link`).vk
    li(class=`${social_posit}__item`)
      a(href="mailto:belocerkovecden@gmail.com" class=`${social_posit}__link`).message